<div class="sidebar">
    <h2>Sidebar</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/authors">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/books-management">Books Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/books-management/">Book Contents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users-management">Users Management</a>
        </li>
    </ul>
</div>
