.book-move {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.book-container {
    width: 100%;
    max-width: 1000px;
}


#page-display {
    border: 1px solid #ccc;
    min-height: 600px;
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: hidden; /* Hides content that overflows the box */
    white-space: pre-wrap; /* Allows the text to wrap onto the next line */
    word-wrap: break-word;
}

.btn {
    padding: 15px 20%;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.select,
.option {
    width: 100px;
    height: 30px;
    margin: 0 5px;
    margin-bottom: 20px;
}



@media screen and (max-width: 767px) {
    .book-move {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    #page-display {
        width: 100%;
        margin: 20px 0;
    }

    .btn {
        padding: 10px 25%;
    }

    .rightside {
        order: 3;
        margin-top: 20px;
        display: block;
    }

    #page-navigation {
        display: flex;
        justify-content: center;
    }

    .book-container {
        width: 100%;
    }
}