.book-move {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.book-container {
    width: 100%;
    max-width: 1000px;
}

#page-display {
    min-height: 600px;
    max-height: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: hidden; /* Hides content that overflows the box */
    white-space: pre-wrap; /* Allows the text to wrap onto the next line */
    word-wrap: break-word;
    border: black 1px solid;
    font-family: cursive;
    overflow-y:scroll
}

.page-navigation-btn {
    padding: 15px 20%;
    margin: 0 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    border: 1px solid #6aafe6;
    color: #6e6e6e;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.page-navigation-btn:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.select,
.option {
    width: 100px;
    height: 30px;
    margin: 0 5px;
    margin-bottom: 20px;
}

#page-number-box {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;   
}


/* 기존 CSS 코드에 추가하여 모바일 화면에 대한 스타일 조정 */
@media screen and (max-width: 767px) {
    .book-move {
        flex-direction: column;
        width: 90%; /* 컨테이너가 모바일 화면 너비에 맞게 조정됨 */
        margin: 0 auto;
    }

    #page-display {
        width: 100%;
        margin: 20px 0;
        min-height: 70vh;
        font-size: smaller;
    }

    .page-navigation-btn {
        padding: 10px 22%; /* 모바일에서 더 작은 패딩으로 조정 */
    }

    .rightside {
        order: 3;
        margin-top: 20px;
        display: block;
        width: 100%; /* 모바일 화면 너비에 맞게 조정 */
    }

    #page-navigation {
        display: flex;
        justify-content: center;
    }

    .book-container {
        width: 100%;
        max-width: unset; /* 모바일에서 최대 너비 설정 해제 */
    }

    /* 페이지 번호 상자도 모바일에 맞게 스타일 조정 */
    #page-number-box {
        text-align: center;
        margin-bottom: 20px;
    }
}
