<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin_header.css" />
  </head>
  <body>
    <div id="sidebar">
      <a href="#" class="logo">
        <img src="/images/Logo2.png" alt="Logo" />
      </a>
      <a href="/admin/books-management">Books</a>
      <a href="/admin/authors">Authors</a>
      <a href="/admin/categories">Categories</a>
      <a href="/admin/users-management">Manage users</a>
      <div class="bottom-links">
        <a href="#">Settings</a>
        <a href="#">Logout</a>
      </div>
    </div>
  </body>
</html>
