<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Booktopia Footer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/footer.css" />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    /> -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        // Function to toggle visibility of ul on mobile
        function toggleUlOnMobile() {
          if ($(window).width() <= 767) {
            $(this).find("ul").slideToggle();
          }
        }

        // Attach click event to footer-col elements
        $(".footer-col").on("click", toggleUlOnMobile);

        // Resize event to hide ul on larger screens
        $(window).resize(function () {
          if ($(window).width() > 767) {
            $(".footer-col ul").removeAttr("style");
          }
        });
      });
    </script> -->
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Details</h4>
            <ul>
              <li><a href="/information/aboutUs">About Us</a></li>
              <li><a href="/information/privacypolicy">Privacy and Policy</a></li>
              <li><a href="/information/copyright">Copyrignt</a></li>
              <li><a href="/wishlist">Wishlist</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Reach out to us</h4>
            <ul>
              <li style="color: #eeeeee">Phone Number: 0932778538</li>
              <li style="color: #eeeeee">
                Address: 702 Đ. Nguyễn Văn Linh, Tân Hưng, Quận 7, Thành phố Hồ
                Chí Minh 700000
              </li>
            </ul>
          </div>
          <div class="footer-col" style="padding-left: 50px">
            <h4>Follow Us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
