<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo.png" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="/js/nav.js" defer></script>
    <title>Wishlist</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="/"><img src="/images/logo3.png" alt="" /></a>
      </div>
      <button class="menu-button" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <nav class="navBar">
        <ul class="NavList" id="navList">
          <li class="NavList-item"><a href="/">Home</a></li>
          <li class="NavList-item">
            <a href="#">Reading History</a>
            <!-- <div class="dropDown">
              <ul class="dropDownList">
                <li class="dropDownItem">
                  <a href=""><i class="fa-solid fa-arrow-right"></i></a>
                </li>
              </ul>
            </div> -->
          </li>
          <!-- <li class="NavList-item"><a href="#">Author</a></li> -->
          <!-- <li class="NavList-item"><a href="#">New Arrival</a></li> -->

          <li class="NavList-item">
            <a href="#">Categories</a>
            <!-- <div class="dropDown">
              <ul class="dropDownList">
                <li class="dropDownItem">
                  <a href="#">Lv1 <i class="fa-solid fa-arrow-right"></i></a>
                  <ul class="dropDownList-lv2">
                    <li class="dropDownItem-lv2"><a href="#">Lv2</a></li>
                    <li class="dropDownItem-lv2"><a href="#">Lv2</a></li>
                  </ul>
                </li>
                <li class="dropDownItem">
                  <a href="#">Lv1 <i class="fa-solid fa-arrow-right"></i></a>
                  <ul class="dropDownList-lv2">
                    <li class="dropDownItem-lv2"><a href="#">Lv2</a></li>
                    <li class="dropDownItem-lv2"><a href="#">Lv2</a></li>
                  </ul>
                </li>
              </ul> -->
            </div>
          </li>
          <li class="NavList-item">
            <form action="/user/search/result" method="post" class="search" >
            <input
              type="text"
              name="search"
              id="searchInput"
              class="search-box"
              placeholder="What are you finding?"
            />
            <button type="submit" class="search-but"><i class="fa-solid fa-magnifying-glass"></i>
              <!-- <img
                src="https://cdn2.iconfinder.com/data/icons/minimal-set-five/32/minimal-48-1024.png"
                alt=""
                class="img1"
    
              /> -->
            </button>
            </form>
          </li>
        </ul>
      </nav>

     



      <div class="user" id="userSection">
        <div class="user-info" onclick="toggleUserMenu()">
          <% if (user && user.image) { %>
            <img id="userAvatar" src="<%= user.image %>" alt="User Avatar" />
          <% } else { %>
            <img id="userAvatar" src="../../public/images/userDefault.jpg.png" alt="Default Avatar" />
          <% } %>
      
          <span id="userName"> <%= user ? user.name : 'Guest' %> </span>
          <i class="fa-solid fa-caret-down"></i>
        </div>

        
   <div class="user-dropdown" id="userDropdown">
  <!-- Dropdown menu content -->
  <% if (user) { %>
    <a href="/user/profile">Profile</a>
    <a href="/bookmarks">Bookmarks</a>
    <a href="/user/setting#general">Settings</a>
    <a href="/feedback">Feedback</a>
    <a href="<%= user.role === 'admin' ? '/admin/' : '/' %>">Home</a>
    <a href="/auth/logout">Logout</a>
  <% } else { %>
    <a href="/auth/signin">Login</a>
    <a href="/auth/register">Register</a>
  <% } %>
</div>
      </div>
    </header>
  </body>
</html>
