.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/*mobile*/
@media only screen and (max-width: 960px) {
    #con {
        margin-top: 7%;
        margin-bottom: 8%;
    }
}

/*laptop*/
@media only screen and (min-width:961px) {
    #con {
        margin-top: 7%;
        margin-bottom: 8%;
    }
}
