body {
    background: linear-gradient(#D5F0C1,#80BCBD 17%, #80BCBD);
}

.profile_img {
    width: 30%;
    height: 30%;
    margin-bottom: 2%;
    border-radius: 50%;
}

/*mobile*/
@media only screen and (max-width: 960px) {
    #con {
        width: 100%;
        margin-bottom: 0%;
    }

    /* .body {
        position: fixed;
    } */

    .profile_img {
        width: 70%;
        height: 70%;
        margin-bottom: 2%;
        border-radius: 50%;
    }
}