body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.hamburger {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EEEEEE;
  padding-top: 20px;
  padding-left: 0px;
}

.content {
  margin: 0% 4% 1% 15%;
}

.settings {
  list-style-type: none;
  margin-top: 70px;
}

.sidebar li {
  padding: 8px;
}

.settings a {
  color: #222831;
  text-decoration: none;
}



@media (min-width: 1000px) {
.settings:hover {
  background-color: #e2e2e2; 
  transition: background-color 1s; 
}
}

.profile_img {
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
  border-radius: 50%;
}

.custom-select {
  width: 100%;
  padding: 0.7%;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.submitButton {
  position: relative;
  float: right;
  margin-top: 20px; 
  margin-right: 50px;
  margin-bottom: 50px;
}

.readonly-field {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: inline-block;
  width: 100%;
}


@media (max-width: 1370px) {
  .content {
    margin: 3% 4% 1% 25%;
  }
}

@media (max-width: 850px) {
  .sidebar {
    flex-direction: row;
    height: 0%;
    width: 0%;
    background-color: white;
  }

  .content {
    margin: 12% 3% 10% 3%;
  }

  .changePassword,
  .general {
      position: relative;
      background-color: #EEEEEE;
      border: 1px solid #333;
      border-radius: 5px;
      padding: 10px;
      display: inline-block;
      white-space: nowrap;
      transition: background-color 1s; /* 배경색에 대한 트랜지션 적용 */
  }
  
  /* hover 시에 버튼 내부의 배경색 변경 */
  .changePassword:hover,
  .general:hover {
      background-color: #d8d8d8; /* hover 시 배경색 변경 */
  }

  
  .hamburger {
    display: block;
  }

  .hamburger button {
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    background-color: #00ADB5;
  }

  .profile_img {
    width: 200px;
    height: 200px;
  }

  .submitButton {
    position: static;
  }
}

.hamburger:hover + .settings {
  display: block;
}
