<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutUs.css">
    <title>Document</title>
</head>
<body>
    <div class="mainContent">
        <div class="imgContainer">
            <img class="mainImg" src="aboutUsmain.png">
        </div>
        <div class="contentContainer">
            <ul class="about-list">
                <li class="about">
                    <div class="about-imagebox">
                        <img class="about-image" src="logo3.png">
                    </div>
                    <div class="about-info">
                        <div class="about-title">
                            <h3>ABOUT BOOKTOPIA</h3>
                        </div>
                        <div class="aboutdetail">
                            <p>"Welcome! Our online library offers readers a rich and knowledge-filled experience tailored to the digital age. With diverse digital collections and convenient accessibility, we provide literary richness and an abundance of knowledge to our readers."</p>
                        </div>

                    

                    </div>
                </li>
            </ul>
            <ul class="about-list">
                <li class="about">
                    <div class="about-imagebox">
                        <img class="about-image" src="mission.png">
                    </div>
                    <div class="about-info">
                        <div class="about-title">
                            <h3>Mission</h3>
                        </div>
                        <div class="aboutdetail">
                            <p>"Our mission is to share knowledge joyfully in the online space. We create a cultural space where everyone can explore and discover knowledge by offering innovative digital resources and a user-friendly environment."</p>
                        </div>

                    

                    </div>
                </li>
            </ul>
            <ul class="about-list">
                <li class="about">
                    <div class="about-imagebox">
                        <img class="about-image" src="vision.png">
                    </div>
                    <div class="about-info">
                        <div class="about-title">
                            <h3>Vision</h3>
                        </div>
                        <div class="aboutdetail">
                            <p>"We aim to lead progress and innovation in knowledge through our online library, promoting learning methods and knowledge-sharing suitable for the digital era. Serving as an accessible online space, we aspire to act as a hub of knowledge, offering new learning and insights to all."</p>
                        </div>

                    

                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>