<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bookmark.css">
    <title>Document</title>
</head>
<body>
    <div class="bookmarkHeader">
        <h1>Bookmarks List</h1>
    </div>
    <div class="categoryName">
      <h2>My Bookmarks List</h2>
    </div>
    <div class="bookmarkTables">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Publisher</th>
                <th scope="col">Cover Image</th>
                <th scope="col">Edit</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Maze Runner</td>
                <td>James Dashner</td>
                <td>Young Adult Science Fiction</td>
                <td>Delacorte Press</td>
                <td class="imageContainer">
                    <img src="fic5.jpg" alt="Image 1">
                </td>
                <td class="editButton">
                  <button class="deleteButton">Delete</button>

                </td>
                
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>dsdsdsd</td>
                <td class="imageContainer">
                    <img src="free-icon-team-5065003.png" alt="Image 1">
                </td>
                <td class="editButton">
                  <button class="deleteButton">Delete</button>

                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td class="imageContainer">
                    <img src="fic3.jpg" alt="Image 1">
                </td>
                <td class="editButton">
                  <button class="deleteButton">Delete</button>

                </td>
              </tr>


            </tbody>
          </table>
    </div>
</body>
</html>