<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/readingPage.css">
</head>
<body>
  <div>
    <div id="pdf-viewer"></div>

    <p>Page: <span id="page-num"></span> / <span id="page-count"></span></p>
    <div class="page-progress">
      <progress id="reading-progress" value="0" max="100"></progress>
    </div>
    <div class="navigation-buttons">
      <button id="prev-page">Previous</button>
      <button id="next-page">Next</button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const pdfViewer = document.getElementById('pdf-viewer');
      const pdfDataUri = '<%= pdfDataUri %>';
      const userId = '<%= userId %>';
      const slug = '<%= slug %>';

      let currentPage = parseInt(localStorage.getItem(`${userId}_${slug}_currentPage`)) || 1;
      let pdfDoc = null;

      const loadPDF = async () => {
        try {
          const pdf = atob(pdfDataUri.split(',')[1]);
          pdfDoc = await pdfjsLib.getDocument({ data: pdf }).promise;
          renderPage(currentPage);
        } catch (error) {
          console.error('Error loading PDF:', error);
        }
      };

      const renderPage = async (num) => {
        pdfViewer.innerHTML = '';
        if (num <= pdfDoc.numPages) {
          const page = await pdfDoc.getPage(num);
          const viewport = page.getViewport({ scale: 1.5 });
          const canvas = document.createElement('canvas');
          const context = canvas.getContext('2d');
          canvas.height = viewport.height;
          canvas.width = viewport.width;

          pdfViewer.appendChild(canvas);

          const renderContext = {
            canvasContext: context,
            viewport: viewport
          };
          page.render(renderContext);

          document.getElementById('page-num').textContent = `${currentPage}`;
          document.getElementById('page-count').textContent = pdfDoc.numPages;
          const progress = ((num - 1) / (pdfDoc.numPages - 1)) * 100;
          document.getElementById('reading-progress').value = progress;
        }
      };

      const updateReadingProgress = (currentPage) => {
        console.log(`Updating progress for user ${userId}, slug ${slug}, page ${currentPage}`);
        localStorage.setItem(`${userId}_${slug}_currentPage`, currentPage);
        // Make an API call to update the reading progress on the server
        fetch(`/${userId}/${slug}/update-progress`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ currentPage, totalPages: pdfDoc.numPages }),
        })
          .then(response => {
            if (response.ok) {
              console.log('Reading progress updated successfully');
            } else {
              console.error('Failed to update reading progress');
            }
          })
          .catch(error => {
            console.error('Error updating reading progress:', error);
          });
      };

      const handlePageChange = (newPage) => {
        if (newPage !== currentPage) {
          updateReadingProgress(newPage);
          currentPage = newPage;
        }
      };

      const changePage = (change) => {
        const newPage = currentPage + change;
        if (newPage >= 1 && newPage <= pdfDoc.numPages) {
          currentPage = newPage;
          renderPage(currentPage);
          handlePageChange(currentPage);
        }
      };

      document.getElementById('prev-page').addEventListener('click', () => changePage(-1));
      document.getElementById('next-page').addEventListener('click', () => changePage(1));

      document.addEventListener('keydown', (event) => {
        if (event.key === 'ArrowLeft') changePage(-1);
        else if (event.key === 'ArrowRight') changePage(1);
      });

      window.addEventListener('beforeunload', () => {
        updateReadingProgress(currentPage);
      });

      loadPDF();
    });
  </script>  
</body>
</html>
