<% if (!user) { %>
    <div class="hero-section">
        <div class="hero-content">
          <h1>Welcome to Our Library</h1>
          <p>
            Discover a world of knowledge with our extensive collection of books.
          </p>
          <a href="/auth/signin" class="browse-books-btn">Browse Books</a>
        </div>
      </div>
  <% } else { %>
    <div class="navForBook">
    <% categories.forEach(category => { %>
    <div class="nav-items">
        <div class="nav-item">
            <a href="/category/<%= category.slug %>">
                <img class="itemImage"src="/images/<%= category.image %>" alt="Novel_icon">
                <div class="categoryName">
                    <p><%= category.category %></p>
                </div>
            </a>
        </div>
    </div>
    <% }) %>

    <% if(categories.length === 4){ %>
    <div class="nav-items">
        <a href="/category/all" class="nav-item">
            <ion-icon class="viewMore" name="add-outline"></ion-icon>
            <p>View more</p>
        </a>
    </div>
    <% } %>
    
</div>
  <% } %>
   



