<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">
    <script src="splide.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="navForBook">
            <div class="nav-items">
                <div class="nav-item">
                    <img src="free-icon-stone-axe-6769132.png" alt="Novel_icon">
                    <p>History</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-circular-economy-8457411.png" alt="Economy_icon">
                    <p>Economy</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-lives-11280613.png" alt="Romance_icon">
                    <p>Romance</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-team-5065003.png" alt="Humanity_icon">
                    <p>Humanities</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-data-science-8637744.png" alt="Science_icon">
                    <p>Science</p>
                </div>
                 <div class="nav-item">
                    <img src="free-icon-stone-axe-6769132.png" alt="Novel_icon">
                    <p>History</p>
                </div>
                <!-- <div class="nav-item">
                    <img src="free-icon-stone-axe-6769132.png" alt="Novel_icon">
                    <p>History</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-stone-axe-6769132.png" alt="Novel_icon">
                    <p>History</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-stone-axe-6769132.png" alt="Novel_icon">
                    <p>History</p>
                </div>
                <div class="nav-item">
                    <img src="free-icon-stone-axe-6769132.png" alt="Novel_icon">
                    <p>History</p>
                </div> -->
            </div>

        </div>
        <div class="bookContainers">
            <div class="category">
                <h2>MostRead</h2>
                        <section class="splide" id="splide1" aria-label="Splide Basic HTML Example">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img src="free-icon-lives-11280613.png" alt="bookImage">
                                        <p>Maze Runner</p>

                                        

                                    </li>
                                    <li class="splide__slide">
                                        <img src="free-icon-lives-11280613.png" alt="bookImage">
                                        <p>Maze Runner</p>
                                    </li>
                                    <li class="splide__slide">
                                        <img src="free-icon-lives-11280613.png" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="free-icon-lives-11280613.png" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>

                                </ul>
                            </div>
                        </section>

            </div>
            <div class="category">
                <h2>MostRead2</h2>
                    <!-- <div class="bookContainer">     -->
                        <section class="splide" id="splide2" aria-label="Splide Basic HTML Example">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img src="free-icon-circular-economy-8457411.png" alt="bookImage">
                                        <p>Maze Runner</p>

                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic3.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                    </li>
                                    <li class="splide__slide">
                                        <img src="free-icon-circular-economy-8457411.png" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>

                                </ul>
                            </div>
                        </section>

            </div>
            <div class="category">
                <h2>MostRead3</h2>
                    <!-- <div class="bookContainer">     -->
                        <section class="splide" id="splide3" aria-label="Splide Basic HTML Example">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img src="fic3.jpg" alt="bookImage">
                                        <p>Maze Runner</p>

                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic3.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic3.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>
                                    <li class="splide__slide">
                                        <img src="fic5.jpg" alt="bookImage">
                                        <p>Maze Runner</p>
                                        
                                    </li>

                                </ul>
                            </div>
                        </section>

            </div>
        </div>






    </div>
    
    
</body>
</html>