<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="searchPage.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="searchPageHeader">
        <div class="categorySearch">
            <h1>Book Search</h1>
        </div>
    </div>
    <div class="Searchcontainer">
        <select id="searchType">
            <option value="title">Title</option>
            <option value="author">Author</option>
        </select>
        <input type="text" id="searchInput" placeholder="Enter search keyword.">
        <button onclick="search()">Search</button>
    </div>



        <div class="resultContainer">
            <div class="bookContainer">
                <h2>Search result for "~" : total n</h2>

                <div class="bookCard">
                    <a href="detail_page_url_here">
                        <img class="bookImage" src="fic3.jpg" alt="Book Cover 1">
                        <div class="book-info">
                            <div class="book-title"><a href="detail_page_url_here">book's title</a></div>
                            <div class="book-author"><a href="detail_page_url_here">author</a></div>
                        </div>
                    </a>
                    <button class="bookmark-btn">
                        <div class="btnIcon">
                            <ion-icon class="bookmarkIcon" name="star"></ion-icon>
                        </div>
                    </button>
                </div>
                
                
                <div class="bookCard">
                    <a href="detail_page_url_here">
                        <img class="bookImage" src="fic3.jpg" alt="Book Cover 1">
                        <div class="book-info">
                            <div class="book-title"><a href="detail_page_url_here">book's title</a></div>
                            <div class="book-author"><a href="detail_page_url_here">author</a></div>
                        </div>
                    </a>
                    <button class="bookmark-btn">
                        <div class="btnIcon">
                            <ion-icon class="bookmarkIcon" name="star"></ion-icon>
                        </div>
                    </button>
                </div>
                <div class="bookCard">
                    <a href="detail_page_url_here">
                        <img class="bookImage" src="fic3.jpg" alt="Book Cover 1">
                        <div class="book-info">
                            <div class="book-title"><a href="detail_page_url_here">book's title</a></div>
                            <div class="book-author"><a href="detail_page_url_here">author</a></div>
                        </div>
                    </a>
                    <button class="bookmark-btn">
                        <div class="btnIcon">
                            <ion-icon class="bookmarkIcon" name="star"></ion-icon>
                        </div>
                    </button>
                </div>
                <div class="bookCard">
                    <a href="detail_page_url_here">
                        <img class="bookImage" src="fic3.jpg" alt="Book Cover 1">
                        <div class="book-info">
                            <div class="book-title"><a href="detail_page_url_here">book's title</a></div>
                            <div class="book-author"><a href="detail_page_url_here">author</a></div>
                        </div>
                    </a>
                    <button class="bookmark-btn">
                        <div class="btnIcon">
                            <ion-icon class="bookmarkIcon" name="star"></ion-icon>
                        </div>
                    </button>
                </div>
                <div class="bookCard">
                    <a href="detail_page_url_here">
                        <img class="bookImage" src="fic3.jpg" alt="Book Cover 1">
                        <div class="book-info">
                            <div class="book-title"><a href="detail_page_url_here">book's title</a></div>
                            <div class="book-author"><a href="detail_page_url_here">author</a></div>
                        </div>
                    </a>
                    <button class="bookmark-btn">
                        <div class="btnIcon">
                            <ion-icon class="bookmarkIcon" name="star"></ion-icon>
                        </div>
                    </button>
                </div>


        </div>
        


    
</body>
</html>