<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sub.css">
    <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
    " rel="stylesheet">
    <script src="splide.js" defer></script>
    <script src="tap.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <div class="subCategory">
            <h1>Fiction</h1>       
                <div class="tab_menu">
                <ul class="list">
                    <li class="is_on">
                    <a href="#tab1" class="btn">All</a>
                    <div id="tab1" class="cont">
                        <div class="category">
                            <div class="bookContainer">
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="free-icon-circular-economy-8457411.png" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="free-icon-circular-economy-8457431.png" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="스크린샷 2023-09-05 153718.png" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic3.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic3.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>

                            </div>

            
                        </div>

                    </div>
                    </li>
                    <li>
                    <a href="#tab2" class="btn">Fiction1</a>
                    <div id="tab2" class="cont">Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2Tab Content2</div>
                    </li>
                    <li>
                    <a href="#tab3" class="btn">Fiction2</a>
                    <div id="tab3" class="cont">Tab Content3</div>
                    </li>
                    <!-- <li>
                    <a href="#tab4" class="btn">Fiction3</a>
                    <div id="tab4" class="cont">Tab Content4</div>
                    </li>
                    <li>
                    <a href="#tab5" class="btn">Fiction4</a>
                    <div id="tab5" class="cont">Tab Content2</div>
                    </li>
                    <li>
                    <a href="#tab6" class="btn">Fiction5</a>
                    <div id="tab6" class="cont">Tab Content3</div>
                    </li>
                    <li>
                    <a href="#tab7" class="btn">Fiction6</a>
                    <div id="tab7" class="cont">Tab Content4</div>
                    </li> -->
                    <li>
                    <a href="#tab8" class="btn">Fiction7</a>
                    <div id="tab8" class="cont">
                        <div class="category">
                            <div class="bookContainer">
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic3.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic3.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic3.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic3.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                                <div class="Books">
                                    <img src="fic5.jpg" alt="bookImage">
                                    <p>Maze Runner</p>
                                </div>
                            </div>

            
                        </div>
                    </div>
                    </li>
                    <!-- <li>
                    <a href="#tab9" class="btn">Fiction8</a>
                    <div id="tab9" class="cont">Tab Content4</div>
                    </li>
                    <li>
                    <a href="#tab10" class="btn">Fiction9</a>
                    <div id="tab10" class="cont">Tab Content3</div>
                    </li>
                    <li>
                    <a href="#tab11" class="btn">Fiction8</a>
                    <div id="tab11" class="cont">Tab Content4</div>
                    </li>
                    <li>
                    <a href="#tab12" class="btn">Fiction9</a>
                    <div id="tab12" class="cont">Tab Content3</div>
                    </li> -->
                    
                    
                </ul>
                </div>
        </div>
    </div>
</body>
</html>