.categoryHeader {
    border-bottom: 1px solid black;
    padding:20px;
}
.mainCategory h1 {
    padding:20px;
    font-size: 30px;
}
.navbar__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #393E46;
    padding:20px;
    
  }
body {
    margin:0;

}
  .navbar__menu li {
    flex: 0 0 calc(16.666% - 10px);
    color: white;
    margin-top:10px;
    margin-bottom: 10px;

  }
  .navbar__menu li a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }

  
  @media (min-width: 768px) {
    .navbar__menu li {
      flex-basis: calc(33.33% - 10px); 

    }
  }
  