.bookContainer {
    display:flex;
    justify-content: space-around;
    background-color: rgb(234, 219, 200);
    border-radius: 20px;
}

.bookContainers {
    /* background-color: aqua; */
    /* margin:100px; */
    padding:20px;


}

.main {
    /* background-color: rgb(248, 240, 229); */
}
.category {
    background-color: #222831;
    /* background-color: darkgoldenrod; */
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin:30px;

}

.category p {
    text-decoration: none; 
    color: black;
    font-weight: bold;
}


.category h2 {
    font-size: 40px;
    /* margin-top:20px; */
    color: #EEEEEE;

}


.Books p {
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: black;
}






.navForBook {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}


.nav-items {
    text-align: center;

}


.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.itemImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px; 
}

.categoryName p {
    margin: 0; 
    font-size: 20px; 
    word-wrap: break-word;
}

.categoryName {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word; 
}

.nav-item a {
    text-decoration: none; 
    color: black;
}


@media screen and (max-width: 768px) {
    .categoryName p {
        margin: 0; 
        font-size: 16px; 
        word-wrap: break-word;
    }

}