.splide {
        display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.splide__track {
    background-color: #393E46;
    border-radius: 20px;
}



.splide__slide img {
    width: 40%;
    height: 70%;
    object-fit: cover;
    margin-top:15px;
}

.splide__slide{
    width: 10%;
    margin: 50px;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 30px;





}
.splide__slide a {
    text-decoration: none;
}

.splide__list {
    width:94%;
    text-align: center;
    /* justify-content: center; */
}

.splide__slide p {
    margin-top: 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

button.bookmark-btn {
    /* display: flex; */
    font-size: 28px;
    float: right;
  }
.bookmark-btn {
    border: none; 
    background: none; 
    padding: 0; 
}
  

/* 모바일 화면에서 Splide 이미지의 위치를 조정하는 예시 */
/* 모바일 화면에서 이미지의 위치를 조정하는 예시 */
@media screen and (max-width: 767px) {
    .splide__slide img {
        /* 이미지 크기 조정 */
        width: 70%;
        display: block;
        margin: 0 auto; /* 이미지를 가로 방향으로 가운데 정렬합니다. */
        /* 다른 스타일 추가 */
    }

    .splide__slide {
        justify-content: center; 
        align-items: center;
    }
    .splide__list {
        width:65%;
        text-align: center;
        /* justify-content: center; */
    }
    
}