.splide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__track {
    border-radius: 20px;
    width:95%;
}



.splide__slide img {
    width: 40%;
    height: 70%;
    object-fit: cover;
    margin-top:15px;
}

.splide__slide{
    /* margin: 50px; */
    /* padding: 10px; */
    background-color: #EEEEEE;
    /* border-radius: 30px; */
    height: 380px;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 1px solid black;







}


.splide__slide a {
    text-decoration: none;
}

.splide__list {
    width:100%;
    text-align: center;

}

.bookTitle h2 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: black;
    font-size: 17px;

  
  }
  
  .bookAuthor p {
    font-style: italic;
    margin-bottom: 5px;
    color: #555;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter; 
    font-size: 16px;

      
  
  }

button.bookmark-btn {
    /* display: flex; */
    font-size: 28px;
    float: right;
  }
.bookmark-btn {
    border: none; 
    background: none; 
    margin:0px 10px;
}
  
.bookmark-btn .btnIcon.bookmarked ion-icon {
    color: gold;
}


@media screen and (max-width: 767px) {
    .splide__slide img {

        width: 70%;
        display: block;
        margin: 0 auto; 
        margin-top:15px;

    }

    .splide__slide {
        /* justify-content: center; 
        align-items: center; */
    }
    .splide__list {
        width:100%;
        text-align: center;

    }
    
}