.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    background-color: #393E46;
  }
  body { 
    /* margin:120px; */
    /* background-color: #222831; */
    
  }
  #wrap{
    height : auto;
    min-height: 100%;
    /* padding-bottom:212px; */
  }
  
  #wrapper,
  .mainContent {
    min-height: calc(100vh - 60px);
  
  }

.navbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    color: white;
    font-size: 17px;
    font-weight: bold;
    
  }
  
.navbar__menu li {
    padding: 8px 30px;
    
  }
  .subCategory h1 {
    /* text-align: center; */
    color: rgb(0, 0, 0);
    padding: 10px;
    margin:0px;
    border-bottom: 1px solid black;

    font-size: 60px;
}

.book-container {
  /* display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee; */
  width:75%;
  margin:0 auto;
}

.book {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 16%;
  margin: 23px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.book a img {
  max-width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 10px;
}


.bookTitle h2 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.1em;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 

}

.bookAuthor p {
  font-style: italic;
  margin-bottom: 5px;
  color: #555;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
    

}
.book a {
  text-decoration: none; 
  color: black; 
}

.navbar__menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  min-height: 30px; /* Set a minimum height */
}


.navbar__menu li a:hover {
  color: #00ADB5; /* 호버 시 색상을 변경해보자 */
  font-weight: bold; /* 폰트를 두껍게 */
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-btn {
  padding: 8px 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
}

.page-btn:hover {
  background-color: #ddd;
}
button.bookmark-btn {
  font-size: 28px;
  float: right;
}
.bookmark-btn {
  border: none; 
  background: none; 
  padding: 0; 
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

      .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      
      .navbar__menu li {
        width: 100%;
        text-align: center;
      }
      .book {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 44%;
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
      body { 
      margin:0px;
      background-color: #222831;
      
    }
      .subCategory h1 {
      /* text-align: center; */
      border-bottom: 1px solid black;
      color: rgb(0, 0, 0);
      padding: 10px;
      font-size: 60px;
      margin:0px;
  }
      .bookImage {
        max-width: 100%;
        height: 230px;
        object-fit: cover;
        /* height: auto; */
        margin-bottom: 10px;
      }
      .book-container {
        width:95%;
      }

}


@media (min-width: 768px) and (max-width: 1024px) {
  .book {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  body { 
  margin:0px;
  background-color: #222831;
  
}
  .subCategory h1 {
  /* text-align: center; */
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 60px;
  margin:0px;
}
  .bookImage {
    max-width: 100%;
    height: 230px;
    object-fit: cover;
    /* height: auto; */
    margin-bottom: 10px;
  }
  .book-container {
    width:95%;
  }


}

@media (min-width: 1024px) and (max-width: 1366px) {
  .book {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 22%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  body { 
  margin:0px;
  background-color: #222831;
  
}
  .subCategory h1 {
  /* text-align: center; */
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 60px;
  margin:0px;
}
  .bookImage {
    max-width: 100%;
    height: 230px;
    object-fit: cover;
    /* height: auto; */
    margin-bottom: 10px;
  }
  .book-container {
    width:95%;
  }


}

