.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    background-color: #393E46;
  }
  body { 
    /* margin:120px; */
    /* background-color: #222831; */
    
  }

.navbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    color: white;
    font-size: 17px;
    font-weight: bold;
    
  }
  
.navbar__menu li {
    padding: 8px 30px;
    
  }
  .subCategory h1 {
    /* text-align: center; */
    color: rgb(255, 255, 255);
    padding: 10px;
    margin:0px;

    font-size: 60px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.book {
  width: 10%;
  margin: 50px;
  padding: 20px;
  background-color: rgb(255, 255, 255);

  text-align: center;
}

.book a img {
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
  object-fit: cover;
}


.book > h2{
    font-size: 17px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: black;

}

.book > p {
    font-size: 14px;
    color: #555;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: black;
    

}

.navbar__menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  min-height: 30px; /* Set a minimum height */
}


.navbar__menu li a:hover {
  color: #00ADB5; /* 호버 시 색상을 변경해보자 */
  font-weight: bold; /* 폰트를 두껍게 */
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-btn {
  padding: 8px 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
}

.page-btn:hover {
  background-color: #ddd;
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

      .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      
      .navbar__menu li {
        width: 100%;
        text-align: center;
      }
      .book {
        width: calc(53% - 53px); 
        margin: 30px 20px; 
    }
    body { 
      margin:0px;
      background-color: #222831;
      
    }
    .subCategory h1 {
      /* text-align: center; */
      border-bottom: 1px solid black;
      color: rgb(255, 255, 255);
      padding: 10px;
      font-size: 60px;
      margin:0px;
  }
}
