<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bookDetails.css">
    <title>Book Details</title>
</head>

<body>
    <h1>Book Details</h1>
    <div class="container">
        <div class="container1">
            <div class="title">
                <img src="picture/THESAINTSOFSWALLOWHILL.jpg" style="max-width: 100%; height: auto;"
                    alt="The Saint of Swallowhill">
                <div class="details">
                    <h2>The Saint of Swallowhill</h2>
                    <p>Publisher: Kensington Books</p>
                    <p>Publication Date: 25/01/2022</p>
                    <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <hr>
                    <p style="font-weight: bold;">About the author</p>
                    <div class="authorpage">
                        <img src="picture/DonnaEverhart.jpg">
                        <p class="authorName" onclick="window.location.href = 'aboutAuthor.html'">Donna Everhart</p>
                    </div>
                    <hr>
                    <div class="authorpage">
                        <img src="picture/DonnaEverhart.jpg">
                        <p class="authorName" onclick="window.location.href = 'aboutAuthor.html'">Donna Everhart</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="description">
                <nav>
                    <ul>
                        <li><a class="active" href="#book-intro">Book Introduction</a></li>
                        <li><a href="#reviews">Reviews</a></li>
                    </ul>
                </nav>

                <div class="description1">
                    <div id="book-intro" class="content active">
                        <h2>Book Introduction</h2>
                        <p>Where the Crawdads Sing meets The Four Winds as award-winning author Donna Everhart's latest
                            novel immerses readers in its unique setting—the turpentine camps and pine forests of the
                            American South during the Great Depression. This captivating story of friendship, survival,
                            and three vagabonds' intersecting lives will stay with readers long after turning the final
                            page.
                        <pre></pre>
                        It takes courage to save yourself...
                        <pre></pre>
                        In the dense pine forests of North Carolina, turpentiners labor, hacking into tree trunks to
                        draw out the sticky sap that gives the Tar Heel State its nickname, and hauling the resin to
                        stills to be refined. Among them is Rae Lynn Cobb and her husband, Warren, who run a small
                        turpentine farm together.
                        <pre></pre>
                        Though the work is hard and often dangerous, Rae Lynn, who spent her childhood in an orphanage,
                        is thankful for it--and for her kind if careless husband. When Warren falls victim to his own
                        negligence, Rae Lynn undertakes a desperate act of mercy. To keep herself from jail, she
                        disguises herself as a man named "Ray" and heads to the only place she can think of that might
                        offer anonymity--a turpentine camp in Georgia named Swallow Hill.
                        <pre></pre>
                        Swallow Hill is no easy haven. The camp is isolated and squalid, and commissary owner Otis
                        Riddle takes out his frustrations on his browbeaten wife, Cornelia. Although Rae Lynn works
                        tirelessly, she becomes a target for Crow, the ever-watchful woods rider who checks each
                        laborer's tally. Delwood Reese, who's come to Swallow Hill hoping for his own redemption, offers
                        "Ray" a small measure of protection, and is determined to improve their conditions. As Rae Lynn
                        forges a deeper friendship with both Del and Cornelia, she begins to envision a path out of the
                        camp. But she will have to come to terms with her past, with all its pain and beauty, before she
                        can open herself to a new life and seize the chance to begin again.</p>
                    </div>

                    <div id="review" class="content">
                        <h3>Write a Comments</h3>
                        <div class="user-comment">
                            <div class="user-comment-box">
                                <img src="/bookDetails/picture/Person.jpg" alt="User Profile Image">
                                    <div class="user-comment-box-header">
                                        <h3>User Name</h3>
                                        <div class="star-rating space-x-4 mx-auto">
                                            <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                                            <label for="5-stars" class="star pr-4">★</label>
                                            <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                                            <label for="4-stars" class="star">★</label>
                                            <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                                            <label for="3-stars" class="star">★</label>
                                            <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                                            <label for="2-stars" class="star">★</label>
                                            <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
                                            <label for="1-star" class="star">★</label>
                                        </div>
                                    </div>
                            </div>
                            <hr>
                            <div class="review-description">
                                <textarea id="comment-contents" name="content" rows="5" cols="100" required></textarea>
                            </div>
                            <div class="action-buttons">
                                <button class="helpful-btn">Submit</button>
                                <button class="report-btn" id="resetButton">Reset</button>
                            </div>
                        </div>
                    
                        <h2>Reviews</h2>
                    <div class="user-review">
                        <div class="user-profile">
                            <img src="/bookDetails/picture/Person.jpg" alt="User Profile Image">
                            <div class="user-details">
                                <h3>User Name</h3>
                                <div class="user-rating">
                                    <span class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                                    <p class="verified-purchase">Verified Purchase</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="review-description">
                            <p>This book was a great read. I loved the characters and the setting.</p>
                        </div>
                        <div class="action-buttons">
                            <button class="helpful-btn">Helpful</button>
                            <button class="report-btn">Report</button>
                        </div>
                    </div>

                    <div class="user-review">
                        <div class="user-profile">
                            <img src="/bookDetails/picture/Person.jpg" alt="User Profile Image">
                            <div class="user-details">
                                <h3>User Name</h3>
                                <div class="user-rating">
                                    <span class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                                    <p class="verified-purchase">Verified Purchase</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="review-description">
                            <p>This book was a great read. I loved the characters and the setting.</p>
                        </div>
                        <div class="action-buttons">
                            <button class="helpful-btn">Helpful</button>
                            <button class="report-btn">Report</button>
                        </div>
                    </div>

                    <div class="user-review">
                        <div class="user-profile">
                            <img src="/bookDetails/picture/Person.jpg" alt="User Profile Image">
                            <div class="user-details">
                                <h3>User Name</h3>
                                <div class="user-rating">
                                    <span class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                                    <p class="verified-purchase">Verified Purchase</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="review-description">
                            <p>This book was a great read. I loved the characters and the setting.</p>
                        </div>
                        <div class="action-buttons">
                            <button class="helpful-btn">Helpful</button>
                            <button class="report-btn">Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="bookDetails.js"></script>
</body>

</html>