<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
    "></script>
    <link
      href="
    https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
    "
      rel="stylesheet"
    />
    <!-- Javascript -->
    <script src="/js/user/splide.js" defer></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/user/categoryNavigation.css">
    <link rel="stylesheet" href="/css/user/spotlight.css">
    <title><%= title %></title>
  </head>
  <body>
      <%- body %>
      <%- include('../../user/spotlight.ejs') %>
  </body>
</html>
